html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #39b54a;
}

.container {
  padding-right: 139px;
  padding-left: 139px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/header.jpg);
  background-size: cover;
}

.header .logo__link {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-top: 69px;
  padding: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #39b54a;
}

.header .top-slider__item {
  color: #fff;
  text-align: center;
}

.header .top-slider__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 214px;
}

.header .top-slider__text {
  font-family: 'Open Sans', sans-serif;
  margin-top: 34px;
  padding-left: 130px;
  padding-right: 121px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.header .top-slider .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #181818;
  position: absolute;
  border: none;
  font-family: "Font Awesome";
  z-index: 5;
}

.header .top-slider .slick-arrow:hover {
  background-color: #39b54a;
}

.header .top-slider .slick-prev {
  margin-top: 227px;
}

.header .top-slider .slick-next {
  margin-left: 1110px;
  margin-top: -117px;
}
