html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: #39b54a;
}

.container {
  padding-right: 139px;
  padding-left: 139px;
  margin: 0 auto;
}

.header {
  width: 1366px;
  height: 768px;
  background: url(../images/header.jpg) no-repeat;
  background-size: cover;
}

.header .logo__link {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-top: 69px;
  padding: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #39b54a;
}

.header .top-slider__item {
  color: #fff;
  text-align: center;
}

.header .top-slider__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 214px;
}

.header .top-slider__text {
  font-family: 'Open Sans', sans-serif;
  margin-top: 34px;
  padding-left: 130px;
  padding-right: 121px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.header .top-slider .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #181818;
  position: absolute;
  border: none;
  font-family: 'Font Awesome', sans-serif;
  z-index: 2;
}

.header .top-slider .slick-arrow:hover {
  background-color: #39b54a;
}

.header .top-slider .slick-prev {
  margin-top: 227px;
}

.header .top-slider .slick-next {
  margin-left: 1039px;
  margin-top: -117px;
}

.header .top-slider .arrow {
  width: 31px;
  padding-top: 4px;
}

.header .top-slider .next {
  padding-left: 2px;
}

.header .top-slider .arrow {
  padding-right: 2px;
}

.header .slider {
  max-width: 1095px;
  max-height: 150px;
}

.header .slick-arrow-bottom {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #181818;
  border: none;
  font-family: 'Font Awesome', sans-serif;
}

.header .slick-arrow-bottom:hover {
  background-color: #39b54a;
}

.header .arrow-bottom {
  width: 31px;
  padding-top: 4px;
}

.header .button-bottom {
  text-align: center;
  margin-top: 350px;
}

.about {
  width: 1366px;
  height: 768px;
}

.about__title {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding: 10px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #39b54a;
  padding: 10px 25px;
  width: 217px;
  height: 50px;
  margin-top: 113px;
}

.about__title span {
  padding-left: 7px;
}

.about__text span {
  font-size: 48px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  float: left;
  margin: 14px 4px 0 0;
}

.about__text {
  margin-top: 65px;
  color: #707070;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  width: 440px;
  height: 44px;
}

.about__text2 {
  padding-top: 12px;
  width: 440px;
  height: 254px;
  color: #636363;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.about__btn {
  margin: 67px 0 0 0;
  width: 162px;
  height: 50px;
  background-color: #39b54a;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
}

.about .about-slider {
  position: inherit;
  margin: -410px 0 0 554px;
}

.about .about-slider .top-slider__text {
  color: #959595;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 25px;
}

.about .about-slider .top-slider__img {
  width: 532px;
  height: 225px;
}

.about .about-slider .top-slider .slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #181818;
  position: absolute;
  border: none;
  font-family: 'Font Awesome', sans-serif;
  z-index: 2;
  background-color: #39b54a;
}

.about .about-slider .top-slider .slick-prev {
  position: absolute;
  margin-top: 245px;
  margin-left: 411px;
}

.about .about-slider .top-slider .slick-next {
  position: absolute;
  margin-top: -23px;
  margin-left: 445px;
}

.about .about-slider .top-slider .arrow {
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.service {
  width: 1366px;
  height: 768px;
  background-color: #f7f7f7;
}

.service__title {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding: 10px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #39b54a;
  padding: 13px 47px;
  width: 223px;
  height: 50px;
  margin-top: 114px;
  margin-bottom: 30px;
}

.service__text {
  width: 553px;
  height: 38px;
  color: #636363;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 47px;
}

.service .services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .services__items img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  background-color: #f7f7f7;
  padding: 18px 21px;
  margin-bottom: 29px;
  margin-left: 84px;
}

.service .services__items .services__item-title {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.service .services__items .services__item-text {
  color: #636363;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.service .services__items .services__item-inner {
  width: 239px;
  height: 175px;
  margin-bottom: 49px;
}

.portfolio {
  width: 1366px;
  height: 768px;
}

.portfolio__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.portfolio__title {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding: 10px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #39b54a;
  padding: 14px 35px;
  width: 223px;
  height: 50px;
  margin-top: 86px;
}

.portfolio__filter {
  margin-top: 95px;
}

.portfolio__filter .graphic {
  display: inline;
  color: #636363;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
  margin-right: 30px;
}

.portfolio__filter .graphic:last-child {
  margin-right: 0px;
}

.portfolio__filter .graphic:hover {
  display: inline;
  color: #39b54a;
  border: 1px solid #39b54a;
  padding: 1px 10px;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item .portfolio__item-inner:hover {
  width: 255px;
  height: 255px;
  position: relative;
  background: black url(../ico/+.png) center center no-repeat;
}

.portfolio__item .portfolio__item-img:hover {
  opacity: 0.21;
}

.portfolio__item .portfolio__item-img {
  margin-bottom: 23px;
}

.footer {
  width: 1366px;
  height: 105px;
  background-color: #fff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 49px;
}

.footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 93px;
}

.footer .text-menu, .footer p {
  color: #898989;
  word-spacing: 15px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  margin-right: 32px;
  line-height: 24px;
}

.footer .copyright-text {
  color: #898989;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
