@import 'vars';

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing:inherit;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

span{
    color: $bg-color;
}

.container{
    padding-right: 139px;
    padding-left: 139px;
    margin: 0 auto;
}