@import 'global';

.header{

    width: 1366px;
    height: 768px;
    background: url(../images/header.jpg) no-repeat;
    background-size: cover;
    .logo{
        &__link{
            display: inline-block;
            font-family: 'Oswald', sans-serif;
            font-size: 24px;
            margin-top: 69px;
            padding: 20px;
            line-height: 24px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
            border: 1px solid $bg-color;
        }
    }
    .top-slider{
        &__item{
            color: #fff;
            text-align: center;
        }
        &__title{
            font-family: 'Open Sans', sans-serif;
            font-size: 72px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            margin-top: 214px;
        }
        &__text{
            font-family: 'Open Sans', sans-serif;
            margin-top: 34px;
            padding-left: 130px;
            padding-right: 121px;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
        .slick-arrow{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #181818;
            position: absolute;
            border: none;
            font-family: 'Font Awesome', sans-serif;
            z-index: 2;
        }
        .slick-arrow:hover{
            background-color: $bg-color;
        }
        .slick-prev{
            margin-top: 227px;
        }
        .slick-next{
            margin-left: 1039px;
            margin-top: -117px;
        }
        .arrow{
            width: 31px;
            padding-top: 4px;
        }
        .next{
            padding-left: 2px;
        }
        .arrow{
            padding-right: 2px;
        }
    }
    .slider{
        max-width: 1095px;
        max-height: 150px;
    }
    .slick-arrow-bottom{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #181818;
        border: none;
        font-family: 'Font Awesome', sans-serif;
    }
    .slick-arrow-bottom:hover{
        background-color: $bg-color;
    }
    .arrow-bottom{
        width: 31px;
        padding-top: 4px;
    }
    .button-bottom{
        text-align: center;
        margin-top: 350px;
        
    }
}   

.about{
    width: 1366px;
    height: 768px;
    &__title{
        display: inline-block;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        padding: 10px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid $bg-color;
        padding: 10px 25px;
        width: 217px;
        height: 50px;
        margin-top: 113px;

    }
    &__title span{
        padding-left: 7px;
    }
    &__text span{
        font-size: 48px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        float: left;
        margin: 14px 4px 0 0;
    }
    &__text{
        margin-top: 65px;
        color: #707070;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        width: 440px;
        height: 44px;
    }   
    &__text2{
        padding-top: 12px;
        width: 440px;
        height: 254px;
        color: #636363;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
    &__btn{
        margin: 67px 0 0 0;
        width: 162px;
        height: 50px;
        background-color: #39b54a;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        border: none;
    }
    .about-slider{
        position: inherit;
        margin: -410px 0 0 554px;
        .top-slider{
            &__text{
                color: #959595;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-style: italic;
                margin-top: 25px;
            }
            &__img{
                width: 532px;
                height: 225px;
            }
            .slick-arrow{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #181818;
                position: absolute;
                border: none;
                font-family: 'Font Awesome', sans-serif;
                z-index: 2;
                background-color: $bg-color;
            }
            .slick-prev{
                position: absolute;
                margin-top: 245px;
                margin-left: 411px;
            }
            .slick-next{
                position: absolute;
                margin-top: -23px;
                margin-left: 445px;
            }
            .arrow{
                height: 18px;
                display:  flex;
                justify-content: center;
                align-content: center;
            }
        }
    }
}

.service{
    width: 1366px;
    height: 768px;  
    background-color: #f7f7f7;
    &__title{
        display: inline-block;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        padding: 10px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid $bg-color;
        padding: 13px 47px;
        width: 223px;
        height: 50px;
        margin-top: 114px;
        margin-bottom: 30px;
    }
    &__text{
        width: 553px;
        height: 38px;
        color: #636363;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-bottom: 47px;
    }
    .services__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px solid #d7d7d7;  
            background-color: #f7f7f7;
            padding: 18px 21px;
            margin-bottom: 29px;
            margin-left: 84px;
        }
        .services__item-title{
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
        }     
        .services__item-text{
            color: #636363;
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }
        .services__item-inner{
            width: 239px;
            height: 175px;
            margin-bottom: 49px;
        }
    }
}

.portfolio{
    width: 1366px;
    height: 768px;
    &__head{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__title{
        display: inline-block;
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        padding: 10px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid $bg-color;
        padding: 14px 35px;
        width: 223px;
        height: 50px;
        margin-top: 86px;
    }
    &__filter{
        margin-top: 95px;
        .graphic{
            display: inline;
            color: #636363;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 28px;
            margin-right: 30px;
        }
        .graphic:last-child{
            margin-right: 0px; 
        }
        .graphic:hover{
            display: inline;
            color: $bg-color;
            border: 1px solid $bg-color;
            padding:  1px 10px;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .portfolio__item-inner:hover{
            width: 255px;
            height: 255px;
            position: relative;
            background: rgba(0,0,0,1) url(../ico/+.png) center center no-repeat;
        }
        .portfolio__item-img:hover{
            opacity: 0.21; 
        }
    }
}

